@page
@model ITStepRazorApp.Pages.Authentication.ConfirmEmailModel
@{
}
<h1>Email Confirmation</h1>
<div>
    <p>
        Thank you for confirming your email. <a asp-page="Login">Click here to login</a>
    </p>
</div>