@page
@model ITStepRazorApp.Pages.InfoModel
@{
}
<div class="text-center">
    <div class="mainText">
        <h1 class="text-dark text-capitalize display-2">Best restaraunt in Tbilisi. Good price, good vibes.</h1>
        <h2 class="mainSubTitle">See Our most popular choices and order below: </h2>
        
        <div class="container" >
            <div class="col-4 mb-5">

                    @foreach (var food in Model.khachapuris)
                    {
                    <img src="~/Images/Khachapuri.png" class="w-50 h-50" />
                    <p>@food.KhachapuriName</p>
                    <p>@food.FinalPrice$</p>
                    }
            </div>
                <a class="btn btn-primary" style="float:center" asp-area="" asp-page="Order">WIP</a>
        </div>
    </div>   
</div>


